<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Estoque</title>
</head>
<body>
	<div>
		<h1>Clientes</h1>
		<hr>
		<div>
			<a th:href="@{/clientes/novo}">Novo</a>
		</div>
		<hr>
		<table>
			<thead>
				<tr>
					<td><b>NOME</b></td>
					<td><b>DATA NASCIMENTO</b></td>
					<td><b>CPF</b></td>
					<td></td>
					<td></td>
				</tr>
		    </thead>
		    <tbody>   <!-- th:each == for -->
			    <tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.dataDeNascimento}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td>
						<a th:href="@{/clientes/edita/{id}(id=${cliente.id})}">Editar</a> <!-- vai se chamado no controlador -->
					</td>
					<td>
						<a th:if="${cliente.ativo == false}" th:href="@{/clientes/ativa/{id}(id=${cliente.id})}">Ativar</a>
						<a th:unless="${cliente.ativo == false}" th:href="@{/clientes/inativa/{id}(id=${cliente.id})}">Inativar</a>
					</td>
				</tr>
			</tbody> 
		</table>		    
	</div>	
</body>
</html>